<div class="well">
    
  <form (ngSubmit)="sauverTache()">
    <div class="form-group">
      <label>Libelle</label>
      <input class="form-control"name="libelle"  [(ngModel)]="editTache.libelle" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <input class="form-control"name="description" [(ngModel)]="editTache.description"  />
    </div>
    <div class="form-group">
      <label for="priorite">priorite</label>
      <input type ="number" min="1" max="5"  class="form-control"name="priorite" [(ngModel)]="editTache.priorite"  />
  </div>
    <div class="form-group">
        <label>DateCreation</label>
        <input type="date"  class="form-control"name="dateCreation" [ngModel]="editTache.dateCreation | date:'yyyy-MM-dd'" 
                                                      (ngModelChange)="editTache.dateCreation = $event"  />
    </div>

    <div class="form-group">
      <label>DateLimite</label>
      <input type="date" class="form-control"name="dateLimite" [ngModel]="editTache.dateLimite | date:'yyyy-MM-dd'" 
                                                    (ngModelChange)="editTache.dateLimite = $event"  />
  </div>
    <div class="form-group">
        <label>contexte</label>
        <input class="form-control"name="contexte" [(ngModel)]="editTache.contexte"  />
    </div>
    <div class="form-group">
      <label>termine</label>
      <input type="checkbox" class="form-control"name="termine" [(ngModel)]="editTache.termine" />
  </div>
    <button class="btn btn-primary" type="submit">sauver Tache</button>
  </form>
</div>